
#lang-menu {
    &.flyout-menu {
      right: -177px;
      display: flex;
      flex-direction: column;
      padding: 1em;
      align-items: center;
  
      a {
        border-left: 0;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
  
      span {
        display: inline-block;
        font-size: 1.75em;
        -webkit-transition: box-shadow 0.2s ease;
        -moz-transition: box-shadow 0.2s ease;
        -ms-transition: box-shadow 0.2s ease;
        -o-transition: box-shadow 0.2s ease;
        transition: box-shadow 0.2s ease;
        vertical-align: middle;
  
        &:hover {
          box-shadow: inset 0 0 0 100px rgba(46, 187, 170, .5);
        }
      }
  
      .link {
        border-bottom: dotted 1px rgba(160, 160, 160, 0.3);
        display: block;
      }
  
      .no-lang {
        cursor: not-allowed;
        opacity: 0.25;
  
        span {
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }