.post {
  background: #fff;
  margin: 0 auto;
  font-size: 1.1rem;
  max-width: 720px;
  color: rgba(0, 0, 0, .8);
  padding-top: 0.7em;

  &.content-list {
    max-width: 600px;
  }

  &.content-single {
    margin: 0 60px;
  }

  &:not(:first-of-type) {
    padding-top: 2.5em;
  }

  .imageDiv {
    margin: 2em 0;
  }

  >header {
    word-break: break-word;
    display: flex;
    flex-direction: column;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
      letter-spacing: -.045em;
    }

    .title {
      font-size: 1.1em;
      display: block;

      &.header-list {
        h5 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &.header-single {
        margin: 0 0 1em;
        a {
          font-family: $font-family__post-header;
        }
      }
    }

    .description {

      font-size: 15px;
      width: 85%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      opacity: 0.6;
      margin: 0.3em 0;
    }

    .meta-wrapper {
      display: flex;
      padding-bottom: 0;
      font-size: 14px;
      flex-direction: column;
      letter-spacing: -.01em;

      .meta-date-reading-time {
        font-family: $font-family__post;
        padding: 0.6em 0;
      }

      .author-tag-info {
        display: flex;
        align-items: center;

        .author {
          background-size: 100% 100%;
          width: 42px;
          height: 42px;
        }

        .meta-tags {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          padding: .5em 1em;
          line-height: 1.4em;

          .stats-list {
            opacity: 0.6;
          }
        }

        .button {
          margin: -1.5em 1em 0;
          font-size: 11px;
          border: 1px solid #03a87c !important;
        }
      }
    }
  }

  a {
    &.image {
      border: 0;
      display: block;
      overflow: hidden;
      max-height: 280px;
      border-radius: 4px;
      margin-bottom: 0.5em;

      &:hover {
        box-shadow: $box-shadow-3d;

        img {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);
        }
      }

      img {
        -webkit-transition: -webkit-transform 0.2s ease-out;
        -moz-transition: -moz-transform 0.2s ease-out;
        -ms-transition: -ms-transform 0.2s ease-out;
        -o-transition: -ms-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        width: 100%;
      }
    }
  }

  .content {
    font-family: $font-family__post;
    margin-top: 1.5em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    .highlight {
      margin: 1em 0;
    }
  }

  >footer {
    display: flex;
    flex-direction: row;
  }
}