
#recommended {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    svg {
      color : $accent-color-dark;
    }
    
    >header {
      flex: 1 1 100%;
    }
  
    .mini-post {
      
      background: #fff;
      border: solid 1px rgba(160,160,160,.2);
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      padding: 1.2em 1.2em 1em 1.2em;
      width: 100%;
  
      @include for-laptop-up {
        width: 49%;
      }
  
      @include for-desktop-up {
        width: 100%;
      }

      &:hover {
        box-shadow: $box-shadow-3d;
      }

      header {
        position: relative;
  
        h1 {
          display: grid;
        }
        
        @include for-laptop-up {
          border-top: solid 1px rgba(160, 160, 160, 0.3);
        }
  
        @include for-desktop-up {
          border: 0;
        }
  
        a {
          font-size: 0.7em;
          margin-bottom: 1.1em;
          letter-spacing: -.045em;
          width: 95%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
        }
  
        .meta-date-reading-time {
          font-family: $font-family__post;
          font-size: 0.6em;
          opacity: 0.7;
        }
      }
  
      section {
        flex-grow: 1;
        overflow: hidden;
  
        .image {
          border: 0;
          display: block;
          overflow: hidden;
          max-height: 110px;
          border-radius: 2px;
          margin-bottom: 0.5em;

          &:hover {
            img {
              -moz-transform: scale(1.05);
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
            }
          }
  
          img {
            -moz-transition: -moz-transform 0.2s ease-out;
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -ms-transition: -ms-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
          }
        }
      }
    }
  }
  