
{{- $.Scratch.Set "authorID" "" -}}
{{- if eq .Kind "taxonomy" -}}
  {{- $.Scratch.Set "authorID" .Data.Term -}}
{{- else if eq .Kind "taxonomyTerm" -}}
  {{- $.Scratch.Set "authorID" .Name -}}
{{- else if eq .Kind "page" -}}
  {{- $.Scratch.Set "authorID" ( index .Params.authors 0 ) -}}
{{- end -}}

{{- $lang := ( .Params.lang | default .Lang ) -}}
{{- $author := ( index $.Site.Data.authors ( $.Scratch.Get "authorID" ) ) -}}
{{- $name := ( $author.name ) -}}
{{- $avatar := ( $author.avatar ) -}}

<header>
  <div class="title header-single">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  </div>
  <div class="meta-wrapper">
  <div class="meta-date-reading-time">
      <time class="published" datetime="{{ .Date }}">
        {{ default (i18n "date_format") | .Date.Format }}
      </time>
      {{ if .Site.Params.ReadingTime }}
        <span> · {{ i18n "postreadingtime" .ReadingTime }}</span>
      {{ end }}
    </span>
  </div>  
  <span class="author-tag-info">
    <span class="author circle" style="background-image: url('{{ $avatar }}');background-size: 100%;"></span>
    <div class="meta-tags">
      <span>by {{ $name.display }}</span>
    </div>
  </span>
</div>
</header>