<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body id="content-page">
    {{ partial "site-intro" . }}
    {{ partial "site-header" . }}
    <div id="wrapper">
      <main id="site-main">
        {{- .Scratch.Set "title-h2" "true" -}}
        <article class="post content-single">
          {{ .Render "header-single" }}
          <div class="content">
            {{ .Content }}
          </div>
          <footer>
            {{ .Render "stats" }}
            {{ partial "plugins" . }}
          </footer>
        </article>
        {{ .Render "comments" }}
        {{ .Render "pagination" }}
      </main>
      {{ partial "scripts" . }}
    </div>
    {{ partial "site-footer" . }}
  </body>
</html>
