<span class="stats">
  {{ if isset .Params "categories" }}
    {{ $categoriesLen := len .Params.categories }}
    {{ if gt $categoriesLen 0 }}
      <span class="categories">
        <span>
          {{ range $k, $v := .Params.categories }}
            {{ $url := printf "categories/%s" (. | urlize | lower) }}
            <span><a class="article-category-link" href="{{ $url | absLangURL }}">{{ . }}</a></span>
          {{ end }}
        </span>
      </span>
    {{ end }}
  {{ end }}
  {{ if isset .Params "tags" }}
    {{ $tagsLen := len .Params.tags }}
    {{ if gt $tagsLen 0 }}
      <span class="tags">
        <span>
          {{ range $k, $v := .Params.tags }}
            {{ $url := printf "tags/%s" (. | urlize | lower) }}
            <span><a class="article-category-link" href="{{ $url | absLangURL }}">{{ . }}</a></span>
          {{ end }}
        </span>
      </span>
    {{ end }}
  {{ end }}
</span>
