<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body id="home-page">
    {{ partial "site-intro" . }}
    {{ partial "site-header" . }}
    <div id="wrapper">
      <main id="site-main">
        {{ range .Paginator.Pages }}
        <article class="post content-list">
          {{ .Render "featured" }}
          {{ .Render "header-list" }}
        </article>
        {{ end }}
        {{ partial "pagination" . }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "scripts" . }}
    </div>
    {{ partial "site-footer" . }}
  </body>
</html>
