
{{ $maxwidth := (printf "%spx" (.Page.Params.maxwidth)) | default "740px" }}
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $styles := (.Get 1) }}

{{ $dimensionsX := $maxwidth }}
{{ $dimensionsY := "300px" }}

{{ if eq (.Get 2) ""}}
{{ else }}
    {{ $options := ( split (.Get 2) ":" ) }}
    {{ $dimensions := (split (index $options 0) "," ) }}
    {{ $dimensionsX := (index $dimensions 0) }}
    {{ $dimensionsY := (index $dimensions 1) }}
{{ end }}


<div class="coverImageDiv" style="
width:{{ $dimensionsX }};height:{{ $dimensionsY }}; 
background: url({{ $original.RelPermalink }}); 
background-size:cover;
{{ $styles }}">
</div>

