{{ $maxwidth := (printf "%spx" (.Page.Params.maxwidth)) | default "740px" }}
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $styles := (.Get 1) }}


{{ if eq (.Get 2) ""}}
    <div class="coverImageDiv" style="
    width:{{ $maxwidth }};height:300px; 
    background: url({{ $original.RelPermalink }}); 
    background-size:cover;
    {{ $styles }}">
    </div>
{{ else }}
    {{ $dimensions := ( split (.Get 2) "x" ) }}
    {{ $dimensionsX := (index $dimensions 0) | default $maxwidth }}
    {{ $dimensionsY := (index $dimensions 1) }}
    <div class="coverImageDiv" style="
    width:{{ $dimensionsX }}px;height:{{ $dimensionsY }}px; 
    background: url({{ $original.RelPermalink }}); 
    background-size:cover;
    {{ $styles }}">
    </div>
{{ end }}

